* {
     -moz-box-sizing: border-box; 
     -webkit-box-sizing: border-box;
     box-sizing: border-box; 
}

body{
  background-color: #FFF;
  font-family: Proxima Nova W01, Apercu, Calibri, Helvetica Neue, Helvetica, sans-serif;
  padding: 0px;
}

nav{
  float: right;
  font-family: helvetica;
  font-color: white !important;
  border: 0px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

h1{
  text-align: center;
  font-size: 34px;
  line-height: 60px;
  letter-spacing: 0px;
}

p{
  width: 200px;
  height: auto;
}

a:visited { 
  text-decoration: none; 
  color:#FFF; 
}

/*input[type="checkbox"] {
    display:inline-block;
    width: 10px;
    height: 10px;
}*/



.top{
  background-color: #212121;
  padding: 20px;
}

.logo{
  width: 120px;
}

.imagecontainer{
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 1.5%;
  vertical-align: top;
}

.image{
  display: inline-block;
  padding: 1.5%;
  vertical-align: top;
}

.amenities{
  text-align: center;
/*  column-count: 3;*/
  margin: 0 auto;
  align-items: flex-start;
  display: block;
}

.button {
  background: #FFF;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: 3px solid #000;
  text-align: center;
  display: inline-block;
  width: 100px;
  height: 30px;
  vertical-align: top;
  font-family: Proxima Nova W01, Apercu, Calibri, Helvetica Neue, Helvetica, sans-serif;
  cursor: pointer;
  margin-top: 20px;
}
.button:hover {
  background: #CCC;
}

.checkboxes{
  display: inline-block;
  width: 100%;
  margin-left: 15%;
  margin-right: 15%;
}

